
body {
    background-color: #232421;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    color: #3E4346;
}


.container {
    background-color: antiquewhite;
    width: 400px;
    height:auto;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column; 
    align-items: center;
   
   
}
.container:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.logo {
    width: 120px;
    height: auto;
    margin: 0  30px;
    top: 15%;
    display: block; 
    margin-bottom: 2rem;
}

.contact-form {
    background: antiquewhite;
    border-radius: 8px;
    width: 350px;
    margin-top: 0px;
    height: auto;
    padding: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 0px; 
    margin-bottom: 1rem;
}



h2 {
    margin-bottom: 1rem;
    color: #3E4346;
    display: block;
    text-align: center;
    font-size: 1.5rem;
}
.coloredtext
{
    color: white;
}
.contact-form label {
    display: block;
    margin-top: 1rem;
    font-weight: bold;
    color: #3E4346;
    align-self: flex-start;
}
.contact-form input{
    width: 100%;
    padding: 0.8rem;
    margin-top: 0.1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    margin-bottom: 0.3rem;
    transition: border-color 0.3s, box-shadow 0.3s;
}
.contact-form textarea {
    width: 100%;
    padding: 0.8rem;
    margin-top: 0.1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    transition: border-color 0.3s, box-shadow 0.3s;
}
.contact-form input:focus,
.contact-form textarea:focus {
    border-color: #632F01;
    box-shadow: 0 0 8px rgba(99, 47, 1, 0.5);
    outline: none;
}

.contact-form .submitbtn {
    margin-top: 2rem;
    padding: 0.8rem 2rem;
    background-color: #3E4346;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.2s;
}
.contact-form .submitbtn:hover {
    background-color: #FBDF5A;
    color: #3E4346;
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(251, 223, 90, 0.5);
}
.contact-form .submitbtn:active {
    transform: scale(0.95);
    box-shadow: none;
}
.contact-form{
    display:flex;
    align-items: center;
    flex-wrap: nowrap;
}
.icon-container
{
    background-color: antiquewhite;
    width: 200px;
    height:100px;
    border-radius: 12px;
    position: relative;
    transition: transform 0.3s;
    display: flex;
    flex-direction: row; 
    align-items: self-start;
    gap: 30px;
    justify-content: center;
   
}
.icon{
    width:30px;
    height:30px;
    margin-top:10px;
    cursor: pointer;

}